@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: purple;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: $text;
}

::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
}



.wrapper {
  margin-left: auto;
  margin-right: auto;width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a{
  text-decoration: none;
}


.el-input__wrapper  {
  background: $background !important;
}
.el-input__inner{
  color: $text !important;}
